:root {
  /* Les couleurs principales */
  --violet-color: #f188df;
  --vert-color: #7aff95;
  --rose-color: #fe81a9;
  --orange-color: #ff8d4a;
  --jaune-color: #ffcf53;
  --bleu-color: #a6fff8;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}
header {
  background-color: #333;
  color: #fff;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}
#logo {
  width: 150px;
  height: auto;
  margin-right: 10px;
}
#icone {
  width: 0px;
  height: auto;
}
h1 {
  margin: 0;
  font-size: 20px;
}
nav {
  margin-top: 10px;
  margin-left: auto;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
main {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}
ul,
ol {
  padding-left: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
form {
  display: grid;
  gap: 10px;
}
label {
  font-weight: bold;
}
input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}
